<DIV ALIGN=\"CENTER\"><FONT COLOR=\"000000\" SIZE=\"3\" FACE=\"Magic Cards\"><BR>
Message from Feyfolken<BR><BR>
<DIV ALIGN=\"LEFT\">
%PCName, you have been granted the Quill of Feyfolken.<BR>
<BR>
The power of the Quill of Feyfolken is twofold. It will allow you to use my soul repeatedly to inscribe scrolls. All that I require is a small amount of your Magicka. It also provides enchanting powers so that inscribing scrolls becomes effortless, allowing me - I mean - you to make very powerful scrolls.<BR>
<BR>
Beware! I will not let my power be used by one that is incompetent. If your inscription fails while using the Quill of Feyfolken, I will take my leave of you. Also, if my powers are used on objects that are not suitable scrolls, such as weapons, armor, or plain paper, I will refuse to accompany you. The Quill of Feyfolken can not be replaced or repaired, and if I feel my power is better suited to someone else, I will not hesitate to disappear forever.<BR>
<BR>
Rumors exist that a family of enchanters far to the east have been making scrolls for many generations. I believe the name was Rothan. A few other enchanters may offer them for sell. I believe these quality scrolls will be suitable for my - eh - your inscriptions. <BR>
